---
import { Image } from "astro:assets";
---

<header>
  <a href="/">
    <Image src="/images/astro-logo.png" alt="My Astro Site Logo" width={86} height={86} />
  </a>

  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blogs">Blogs</a>
  </nav>
</header>
